/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
}

.no-click {
    pointer-events: none;
}

.window-container {
  .window-behind-overlay {
    z-index: 1000 !important;
  }

  .k-content.k-window-content {
    background-color: white;
    height: 100%;
  }
}
