/* You can add global styles to this file, and also import other style files */

.nssd-input-wrapper {
  margin: 12px;

  .nssd-label {
    margin-right: 8px;
  }
}

.nssd-button {
  margin: 12px;
  max-width: 120px;
  min-width: 120px;
}
