<div class="outer-box">

  <div class="box">
    <div class="content">
      <p>box-list works!</p>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
      <div class="div-class">div section 000000001</div>
    </div>
  </div>

  <div class="footer">
    <button>BUTTON</button>
  </div>
</div>
