<kendo-tabstrip #kendoTabStripSelector
  (tabSelect)="onTabSelect($event)"
>
  <kendo-tabstrip-tab [title]="tabOneTitle" [selected]="true">
    <ng-template kendoTabContent>
      <p>{{tabOneParagraph}}</p>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabTwoTitle">
    <ng-template kendoTabContent>
      <nssd-kendo-tree-view></nssd-kendo-tree-view>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabThreeTitle" [disabled]="!isTabEnabled"></kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabFourTitle">
    <ng-template kendoTabContent>
      <nssd-kendo-splitter></nssd-kendo-splitter>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>

<button (click)="onTabButtonClick()">
  {{tabStripButtonText}}
</button>
