<md-header></md-header>
<div class="example-wrapper">
    <button class="window-button" kendoButton (click)="open()">Open Window Button</button>
    <md-overview-text
        [points]="overviewPoints"
        [subtitle]="overviewSubtitle"
        [title]="overviewTitle">
    </md-overview-text>
    <mdak-modal-window *ngIf="opened"
        [isOpen]="opened"
        (handleWindowClose)="close()">
    </mdak-modal-window>
</div>
<md-footer [sourceCodeRepo]="footerHref"></md-footer>
<div class="k-overlay no-click" *ngIf="opened"></div>
